__pycache__
.DS_Store
.idea/
*.py[co]
simple_faster_rcnn
.ipynb_checkpoints
datasets
faster_rcnn_chai
mr
new1
new2
new3
new5
notebooks
progress
relation_sampling
gt_generator.py
semantic_checker.py
trainer.py
VMRD_dataset.py
vmrd_trainer.py
voc_dataset.py